{{{modal}}}
<div class='scrollable-table-container'>
<table class='table table-striped'>
<thead class="position-sticky top-0">
    <tr>
                <th data-sort='{{sorting.name}}' data-sort-indx='{{sortingorder.name}}' data-col='{{colsindexes.name}}'>Jméno</th>
        {{#columns.job}}<th data-sort='{{sorting.job}}' data-sort-indx='{{sortingorder.job}}' data-col='{{colsindexes.job}}'>Zaměstnání</th>{{/columns.job}}
        {{#columns.wage}}<th data-sort='{{sorting.wage}}' data-sort-indx='{{sortingorder.wage}}' data-col='{{colsindexes.wage}}'>Plat</th>{{/columns.wage}}
        {{#columns.room}}<th data-sort='{{sorting.room}}' data-sort-indx='{{sortingorder.room}}' data-col='{{colsindexes.room}}'>Místnost</th>{{/columns.room}}
        {{#columns.admin}}<th data-sort='{{sorting.admin}}' data-sort-indx='{{sortingorder.admin}}' data-col='{{colsindexes.admin}}'>Admin</th>{{/columns.admin}}
        {{#columns.login}}<th data-sort='{{sorting.login}}' data-sort-indx='{{sortingorder.login}}' data-col='{{colsindexes.login}}'>Login</th>{{/columns.login}}
        <th>Akce</th>
    </tr>
    </thead>
    <tbody>
    {{#employees}}
    <tr>
        <td>
            <a href='detail.php?employeeId={{employee_id}}'>{{name}}</a>
        </td>
        {{#columns.job}}<td>{{job}}</td>{{/columns.job}}
        {{#columns.wage}}<td>{{wage}}</td>{{/columns.wage}}
        {{#columns.room}}<td><a href='/room/detail.php?roomId={{employees.rRoom_id}}'>{{room}}</a></td>{{/columns.room}}
        {{#columns.admin}}<td>{{#admin}}true{{/admin}}{{^admin}}false{{/admin}}</td>{{/columns.admin}}
        {{#columns.login}}<td>{{login}}</td>{{/columns.login}}
        <td>
            <form action="update.php" method="get" style="display: inline-block">
                <input type="hidden" name="employeeId" value="{{employee_id}}">
                <input type="submit" value="Upravit" class="btn btn-info" {{^isAdmin}}disabled{{/isAdmin}}>
            </form>
            <form action="delete.php" method="post" style="display: inline-block">
                <input type="hidden" name="employeeId" value="{{employee_id}}">
                <input type="submit" value="Smazat" class="btn btn-danger" {{^isAdmin}}disabled{{/isAdmin}} onclick="return confirm('Opravdu chcete smazat zaměstnance?\nAkce je nevratná!');">
            </form>
        </td>
    </tr>
    {{/employees}}
    {{^employees}}
        <tr><td colspan="3">Databáze je prázdná</td></tr>
    {{/employees}}
    </tbody>
</table>
</div>
<a href="create.php" class="btn btn-primary {{^isAdmin}}disabled{{/isAdmin}}" >Vytvořit nového zaměstnance</a>