 <div class="form-group">
    <label for="jobcolvis">Zaměstnání</label>
    <input type='checkbox' name='columns' id='jobcolvis' value='{{colsindexes.job}}' {{#columns.job}}checked{{/columns.job}}>
 </div>
 <div class="form-group">
    <label for="wagecolvis">Plat</label>
    <input type='checkbox' name='columns' id='wagecolvis' value='{{colsindexes.wage}}' {{#columns.wage}}checked{{/columns.wage}}>
 </div>
 <div class="form-group">
    <label for="roomcolvis">Místnost</label>
    <input type='checkbox' name='columns' id='roomcolvis' value='{{colsindexes.room}}' {{#columns.room}}checked{{/columns.room}}>
 </div>
 <div class="form-group">
    <label for="admincolvis">Admin</label>
    <input type='checkbox' name='columns' id='admincolvis' value='{{colsindexes.admin}}' {{#columns.admin}}checked{{/columns.admin}}>
 </div>
 <div class="form-group">
    <label for="logincolvis">Login</label>
    <input type='checkbox' name='columns' id='logincolvis' value='{{colsindexes.login}}' {{#columns.login}}checked{{/columns.login}}>
 </div>