<h2>{{title}}</h2>
<form method="post">
    <div class="form-group">
        <label for="name">Jméno</label>
        <input type="text" class="form-control" id="name" name="name" value="{{employee.name}}" required>
        {{#errors.name}}<div class="d-block invalid-feedback">{{errors.name}}</div>{{/errors.name}}
    </div>
     <div class="form-group">
        <label for="surname">Příjmení</label>
        <input type="text" class="form-control" id="surname" name="surname" value="{{employee.surname}}" required>
        {{#errors.surname}}<div class="d-block invalid-feedback">{{errors.surname}}</div>{{/errors.surname}}
    </div>
    <div class="form-group">
        <label for="wage">Plat</label>
        <input type="number" class="form-control" id="wage" name="wage" min="0" value="{{employee.wage}}" required>
        {{#errors.wage}}<div class="d-block invalid-feedback">{{errors.wage}}</div>{{/errors.wage}}
    </div>
     <div class="form-group">
        <label for="admin">Admin</label>
        <input type="checkbox" id="admin" name="admin" value="1" 
        {{#employee.admin}}checked{{/employee.admin}} {{#disableAdmin}}disabled{{/disableAdmin}}>
        {{#disableAdmin}}<input type="hidden" name="admin" value="1">{{/disableAdmin}}
        {{#errors.admin}}<div class="d-block invalid-feedback">{{errors.admin}}</div>{{/errors.admin}}
    </div>
     <div class="form-group">
        <label for="job">Pozice</label>
        <input type="text" id="job" name="job" value="{{employee.job}}" required>
        {{#errors.job}}<div class="d-block invalid-feedback">{{errors.job}}</div>{{/errors.job}}
    </div>
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login" name="login" value="{{employee.login}}" required>
        {{#errors.login}}<div class="d-block invalid-feedback">{{errors.login}}</div>{{/errors.login}}
    </div>
    <div class="form-group">
        <label for="password">Heslo</label>
        <input type="password" class="form-control" id="password" name="password" {{#passwordRequired}} required {{/passwordRequired}}>
        {{#errors.password}}<div class="d-block invalid-feedback">{{errors.password}}</div>{{/errors.password}}
    </div>
    <div class="form-group">
        <label for="password">Potvrď heslo</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" {{#passwordRequired}} required {{/passwordRequired}}>
        {{#errors.confirmPassword}}<div class="d-block invalid-feedback">{{errors.confirmPassword}}</div>{{/errors.confirmPassword}}
    </div>
    <div class="form-group">
        <label for="room">Místnost</label>
        <fieldset class="form-control">
        <select class="form-control" name="room" id="room">
        {{#inactiveRooms}}
        <option value="{{room_id}}">{{name}}({{no}})</option>
        {{/inactiveRooms}}
        {{#activeRoom}}
        <option value="{{room_id}}" selected>{{name}}({{no}})</option>
        {{/activeRoom}}
        </select>
        {{#errors.room}}<div class="d-block invalid-feedback">{{errors.room}}</div>{{/errors.room}}
        </fieldset>
        
    </div>
    <div class="form-group">
        <label for="keys">Klíče</label>
        <fieldset class="form-control">
        {{#inactiveKeys}}
        <div>
            <label for="key{{room_id}}">{{name}}({{no}})</label>
            <input type="checkbox" id="key{{room_id}}" name="keys[]" value="{{room_id}}">
        </div>
        {{/inactiveKeys}}
        {{#activeKeys}}
        <div>
        <label for="key{{room_id}}">{{name}}({{no}})</label>
        <input type="checkbox" id="key{{room_id}}" name="keys[]" value="{{room_id}}" checked>
        </div>
        {{/activeKeys}}
        {{#errors.keys}}<div class="d-block invalid-feedback">{{errors.keys}}</div>{{/errors.keys}}
        </fieldset>
        
    </div>
    {{#employee.employee_id}}<input type="hidden" name="employee_id" value="{{employee.employee_id}}">{{/employee.employee_id}}

    <button type="submit" class="btn btn-primary mt-3">Odeslat</button>
    <a href="/employee/list.php?employeeId={{employee.employee_id}}" class="btn btn-primary mt-3">Zrušit</a>
</form>
