     <h1>Prohlížeč databáze zaměstnanců</h1>
    <div class="dropdown position-fixed" style='z-index:100;top:0;right:0'>
  <a class="btn btn-secondary dropdown-toggle d-inline-flex flex-row" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    {{loggedUser.name}} {{loggedUser.surname}} <img alt="use icon" src="/resources/person.svg" />
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="/employee/detail.php?employeeId={{loggedUser.employee_id}}">Zobrazit profil</a></li>
    <li><a class="dropdown-item" href="/employee/update.php?employeeId={{loggedUser.employee_id}}">Upravit profil</a></li>
    <li><a class="dropdown-item" href="/changePassword.php">Změnit heslo</a></li>
    <li><a class="dropdown-item" href="/logout.php">Odhlášení</a></li>
  </ul>
</div>
    <nav class='navbar navbar-expand-lg navbar-dark bg-secondary'>
        <ul class='navbar-nav mb-2 d-flex flex-row justify-content-center'>
            <li class='nav-item'><a class="nav-link" href="/room/list.php">Místnosti</a></li>
            <li class='nav-item'><a class="nav-link" href="/employee/list.php">Lidé</a></li>
            <li class='nav-item'><a class="nav-link" href="/index.php">Domů</a></li>
        </ul>
    </nav>
