{{#room}}
<h1 class='d-inline-block'>Detail místnosti {{no}}</h1>
{{#userIsAdmin}}
<a href='/room/update.php?roomId={{room_id}}' class='btn edit-btn' aria-label='edit'></a>
{{/userIsAdmin}}
<dl>
    <dt>Název</dt>
    <dd>{{name}}</dd>

    <dt>Číslo</dt>
    <dd>{{no}}</dd>

    <dt>Telefon</dt>
    <dd>{{#phone}}{{phone}}{{/phone}}{{^phone}}&mdash;{{/phone}}</dd>


    <dt>Lidé</dt>
    {{#employees}}
        <dd>
            <a href='/employee/detail.php?employeeId={{employee_id}}'>{{surname}} {{name}}</a>
        </dd>
    {{/employees}}
</dl>
{{/room}}
