 <div class="form-group">
    <label for="nocolvis">Číslo</label>
    <input type='checkbox' name='columns' id='nocolvis' value='{{colsindexes.no}}' {{#columns.no}}checked{{/columns.no}}>
 </div>
 <div class="form-group">
    <label for="phonecolvis">Telefon</label>
    <input type='checkbox' name='columns' id='phonecolvis' value='{{colsindexes.phone}}' {{#columns.phone}}checked{{/columns.phone}}>
 </div>